---
const personalImageAlt = "Jerick";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Jerick. A la edad de 15 años empecé a programar con JavaScript.
      Actualmente <strong>
        mi objetivo es aprender, aplicar y enseñar conceptos complejos y simples
        de una manera sencilla
      </strong>.
    </p>

    <p>
      Eh realizado varios proyectos para empresas trabajando como autonomo <strong
        >colaborando con varias Pymes regionales</strong
      >. Y me encuentro aprendiendo como autodidacta tecnologías de desarrollo
      web que me ayudan a mejorar mis servicios.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/yo.jpeg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
