---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Freelancer",
    // company: "",
    description:
      "Actualmente me encuentro colaborando con varias Pymes en el diseño web de sus plataformas. Me centro en crear sitios web esteticos y fáciles de usar, que reflejen los valores de cada empresa, y optimizo la experiencia del usuario para maximizar la interacción y la conversión.",
    link: "#",
  },
  {
    date: "Enero 2024 – Marzo 2025",
    title: "Freelancer",
    // company: "",
    description:
      "Gracias a estos proyectos, consolidé mi experiencia en arquitecturas basadas en microservicios y dominio de frameworks modernos (Spring, Angular, React). Pude llevar cada solución de la concepción inicial a la implementación en producción, garantizando una experiencia de usuario eficiente y segura.",
  },
  {
    date: "Diciembre 2023",
    title: "Autodidacta",
    // company: "",
    description:
      "Dominando los básicos del desarrollo web HTML, CSS y JavaScript, para mejorar mis habilidades de diseño y scripts con las que mejorar mi capacidad para crear sitios web modernos y dinámicos.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
