---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Perseo - Sistema Contable",
    company: "Perseo",
    description:
      "Líder en soluciones contables del mercado ecuatoriano. Proporcionamos sistemas integrales y eficientes para la gestión financiera y operativa de empresas. Expandimos nuestra presencia a nivel nacional e internacional, manteniendo los más altos estándares de calidad y excelencia en servicio.",
    // link: "#",
  },
  {
    date: "Enero 2023 – Marzo 2025",
    title: "Freelancer",
    // company: "",
    description:
      "Gracias a estos proyectos, consolidé mi experiencia en arquitecturas basadas en microservicios y dominio de frameworks modernos (Spring, Angular, React). Pude llevar cada solución de la concepción inicial a la implementación en producción, garantizando una experiencia de usuario eficiente y segura.",
  },
  {
    date: "Diciembre 2021",
    title: "Autodidacta",
    // company: "",
    description:
      "Dominando los básicos del desarrollo web HTML, CSS, JavaScript y React, para mejorar mis habilidades de diseño y scripts con las que mejorar mi capacidad para crear sitios web modernos y dinámicos.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
